* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    background-color: beige;
}

.campo-error {
  border: 2px solid #a3242f;
  background: #fbe9ea;
}

.forma {
    display: flex;
    flex-direction: column;
    border-style: dotted;
    max-width: 400px;

}
.contenedor1,.contenedor2,.contenedor3,.contenedor4,.contenedor5,
.contenedor6,.contenedor7,.contenedor8,.contenedor9
{
    display: block;
    gap:15px;
    max-width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.cementos , .mortero, .Aridos, .ladrillos, .bloques,.Latex,
.esmalte,.antihumedad,.Accesorios,.Manuales,.electricas,.uniones,.tuberias
,.uniones,.llaves,.griferia,.sellos,.conductores,.enchufes,.interruptores,.tableros,.iluminacion
,.tornillos,.tacos,.pernos,.anclajes,.pino,.tableros,.EPP
,.mangueras,.herramientas{
    border-style:groove;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(184, 184, 169);
    
}

h2{
    width: 100%;
    display: block;
    max-width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
#lista,#lista2{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    border-style: solid;
    background-color: rgb(126, 126, 122);

}

